.profile-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #8fbc8f, #f0f8f1);
  
}

.profile-card {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.profile-header {
  background-color: #598459;  
  padding: 40px 20px;  
  position: relative;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #274527;
  object-fit: cover;
  position: absolute;
  bottom: -50px;  
  left: 50%;
  transform: translateX(-50%); 
}

.profile-body {
  padding: 70px 20px 20px; 
}

h2 {
  margin: 10px 0;
  font-size: 24px;
}

p {
  font-size: 14px;
  color: #777;
}

.social-icons {
  margin: 15px 0;
}

.social-icons a {
  color: #598459; 
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #8fbc8f;  
}

.stats p {
  font-size: 14px;
  color: #777;
}

.buttons {
  margin-top: 20px;
}

.subscribe-btn, .message-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
}

.subscribe-btn {
  background-color: #598459;  
  color: white;
}

.message-btn {
  background-color: #ddd;
  color: #333;
}
